#genre{
    color: #FFF7F7;

}
img{
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    color: red;
}
.my-carousel{
    margin-outside: 100px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.carousel-caption {
    /*<!--position: absolute; -->*/
    bottom: 10px;
    left: 50%;
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
