.main-content{
    background-image: url("https://wallpapers.com/images/hd/glowing-contact-us-logo-qx58564q7a51etk6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    padding:0;
}
.section-title{
    color: white;
}
.section-description{
    color: white;
}
p{
    color: white;
}
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.contact-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.contact-icon {
    font-size: 3rem;
    color: #ff7f50;
}
.messengers{
    color: white;
}
.contacts{
    color: white;
}
a{
    color: red;
}
