/* Add to cart button */
.add-to-cart-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #38A3A5;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}